@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300,700);
#container {
  overflow: hidden;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
  -o-perspective: 3000px;
  perspective: 3000px; }

.safari-on-mac #container {
  -webkit-perspective: 30000px;
  -moz-perspective: 30000px;
  -ms-perspective: 30000px;
  -o-perspective: 30000px;
  perspective: 30000px; }

#cube {
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotateX(0deg) translateZ(-408px);
  -moz-transform: rotateX(0deg) translateZ(-408px);
  -ms-transform: rotateX(0deg) translateZ(-408px);
  -o-transform: rotateX(0deg) translateZ(-408px);
  transform: rotateX(0deg) translateZ(-408px);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.ms #cube {
  -webkit-transform: rotateX(0deg) translateZ(0px);
  -moz-transform: rotateX(0deg) translateZ(0px);
  -ms-transform: rotateX(0deg) translateZ(0px);
  -o-transform: rotateX(0deg) translateZ(0px);
  transform: rotateX(0deg) translateZ(0px); }

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: inset 0 0 80px black;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.static-back {
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.port {
  position: static; }

.face-content {
  padding-left: 60px;
  padding-right: 60px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  color: #fff;
  left: 50%;
  /*padding: 0 30px;*/
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(100px);
  -moz-transform: translateX(-50%) translateY(-50%) translateZ(100px);
  -ms-transform: translateX(-50%) translateY(-50%) translateZ(100px);
  -o-transform: translateX(-50%) translateY(-50%) translateZ(100px);
  transform: translateX(-50%) translateY(-50%) translateZ(100px);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%; }

/* Boddy */
/* Titles */
/* Buttons*/
#container,
#cube,
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  font-weight: 300; }

body,
html {
  -webkit-overflow-scrolling: touch; }

body {
  background-color: #000;
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-family: "Josefin Slab";
  font-weight: 300; }

h1 {
  font-size: 3rem;
  margin: 0; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4.5rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.25rem; } }

h2 {
  font-size: 2rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 3.5rem; } }

hr,
p {
  font-size: 0.8rem;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 768px) {
    hr,
    p {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    hr,
    p {
      font-size: 1.4rem; } }

.big-screen {
  display: none; }
  @media (min-width: 1024px) {
    .big-screen {
      display: initial; } }

.skills {
  display: none; }
  .skills table {
    padding-top: 1rem;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
    @media (min-width: 768px) {
      .skills table {
        font-size: 1.5rem; } }
    @media (min-width: 992px) {
      .skills table {
        font-size: 1.75rem; } }
    .skills table th {
      font-size: 1.3rem;
      font-weight: 300;
      margin-left: 3rem;
      margin-right: 3rem;
      padding-bottom: 1rem;
      border-bottom: solid 2px white;
      width: 20%; }
      @media (min-width: 768px) {
        .skills table th {
          font-size: 1.95rem; } }
      @media (min-width: 992px) {
        .skills table th {
          font-size: 2.275rem; } }
    .skills table td {
      padding-left: 0.3rem;
      padding-right: 0.3rem; }
  @media (min-width: 1024px) {
    .skills {
      display: initial; } }

.one {
  background-image: url("../img/land-one.jpg"); }

.two {
  background-image: url("../img/land-three.jpg"); }

.three {
  background-image: url("../img/land-two.jpg"); }

.four {
  background-image: url("../img/land-four.jpg"); }

.port-item img {
  width: 150px;
  max-height: 20%; }
  @media (min-width: 1024px) {
    .port-item img {
      width: 300px; } }

.port-item p {
  margin-bottom: 5px; }

.social-buttons li {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem; }

.social-buttons ul {
  list-style: none;
  padding: 0; }

.social-buttons i {
  font-size: 3rem; }
  @media (min-width: 768px) {
    .social-buttons i {
      font-size: 4.5rem; } }
  @media (min-width: 992px) {
    .social-buttons i {
      font-size: 5.25rem; } }

.email,
.resume {
  font-size: 1.5rem;
  word-wrap: break-word; }
  @media (min-width: 768px) {
    .email,
    .resume {
      font-size: 2.25rem; } }
  @media (min-width: 992px) {
    .email,
    .resume {
      font-size: 2.625rem; } }

.button {
  border: white 2px solid;
  padding-left: 10%;
  padding-right: 10%; }
  .button:hover {
    background-color: white;
    color: black; }

.breadcrumbs {
  position: absolute;
  top: 50%;
  color: white;
  right: 15px; }
  .breadcrumbs ul {
    margin-bottom: 5px;
    font-size: 20px; }
  .breadcrumbs i {
    position: absolute;
    right: 13px; }

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #fff; }
