@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto;
    position: relative;
    padding-top: 65px;
}

p {
    font-size: 17px;
}

img {
    margin-bottom: 5px;
}

.content>div {
    margin-top: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);;
}

.content h2 {
    padding-top: 60px;
    padding-left: 10px;
}

#team td {
    text-align: center;
}

#team img {
    max-width: 99%;
}

.shadow {
    box-shadow: 0px 0px 5px #888888;
}

.footer {
    background-color: #F8F8F8;
    text-align: center;
    margin-top: 20px;
}

.footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
