/* Colors */
/* Fade Percentage */
/* Breakpoints */
/* Fonts */
/* Font Sizes */
/* Picture Widths */
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 98, 180, 0.5);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white; }

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Lato/Lato-Hairline.ttf"); }

/* Other files */
/* Colors */
/* Fade Percentage */
/* Breakpoints */
/* Fonts */
/* Font Sizes */
/* Picture Widths */
/* Colors */
/* Fade Percentage */
/* Breakpoints */
/* Fonts */
/* Font Sizes */
/* Picture Widths */
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 98, 180, 0.5);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white; }

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

html {
  background-color: #2F2F2F;
  color: #D5D5D5; }

a {
  color: inherit; }

.header {
  background: #EE4A39;
  background: -webkit-linear-gradient(#838383, #EE4A39 90%, #2F2F2F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#838383, #EE4A39 90%, #2F2F2F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#838383, #EE4A39 90%, #2F2F2F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#838383, #EE4A39 90%, #2F2F2F);
  /* Standard syntax */ }
  .header img {
    max-width: 100%;
    width: 100%;
    display: block; }
  .header h1 {
    margin-top: 0;
    padding-top: 2rem;
    font-family: "Lato";
    font-weight: 100;
    text-align: center; }
    @media screen and (min-width: 0px) {
      .header h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 600px) {
      .header h1 {
        font-size: 5rem; } }
    @media screen and (min-width: 992px) {
      .header h1 {
        font-size: 7rem; } }
    @media screen and (min-width: 1200px) {
      .header h1 {
        font-size: 8rem; } }

.main h2 {
  font-weight: 100;
  padding-top: 2rem; }
  @media screen and (min-width: 0px) {
    .main h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 600px) {
    .main h2 {
      font-size: 4rem; } }
  @media screen and (min-width: 992px) {
    .main h2 {
      font-size: 5rem; } }
  @media screen and (min-width: 1200px) {
    .main h2 {
      font-size: 6rem; } }

.main h3 {
  font-weight: 100;
  padding-bottom: 2rem; }
  @media screen and (min-width: 0px) {
    .main h3 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 600px) {
    .main h3 {
      font-size: 3rem; } }
  @media screen and (min-width: 992px) {
    .main h3 {
      font-size: 3rem; } }
  @media screen and (min-width: 1200px) {
    .main h3 {
      font-size: 3rem; } }

.main .contact,
.main .do {
  background-color: #395A62;
  padding-bottom: 1rem; }

.main .projects {
  background-color: #2F2F2F; }

.chart-container h3 {
  text-align: center; }

.projects {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  .projects .project {
    flex: 1;
    color: white;
    background-color: #838383;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    min-width: 200px; }
    .projects .project:hover {
      cursor: pointer; }
    .projects .project img {
      background-color: white;
      width: 100%; }
    .projects .project p {
      font-weight: bold; }
    .projects .project ul {
      font-weight: lighter; }

#email-form input, #email-form textarea {
  margin-bottom: 5px; }

.error {
  color: #EE4A39; }

.preloader-wrapper {
  float: right;
  display: none; }


/* Colors */
/* Fade Percentage */
/* Breakpoints */
/* Fonts */
/* Font Sizes */
/* Picture Widths */
