/* Fonts */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Lato/Lato-Hairline.ttf')
}

/* Other files */
@import 'variables';
@import 'mixins';
@import 'hover.scss';

html {
    background-color: $background-color;
    color: $main-text-color;
}

a {
    color: inherit;
}

.header {
    background: $notify-color;
    background: -webkit-linear-gradient($medium-gray, $notify-color $headerFadePercent, $background-color);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($medium-gray, $notify-color $headerFadePercent, $background-color);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($medium-gray, $notify-color $headerFadePercent, $background-color);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient($medium-gray, $notify-color $headerFadePercent, $background-color);
    /* Standard syntax */
    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
    h1 {
        @include font-size($header-font-sizes);
        margin-top: 0;
        padding-top: 2rem;
        font-family: $title-font;
        font-weight: 100;
        text-align: center;
    }
}

.main {
    h2 {
        @include font-size($sub-header-font-sizes);
        font-weight: 100;
        padding-top: 2rem;
    }
    h3 {
        @include font-size($h3-font-sizes);
        font-weight: 100;
        padding-bottom: 2rem;
    }
    .contact,
    .do {
        background-color: $dark-alt-color;
        padding-bottom: 1rem;
    }
    .projects {
        background-color: $background-color;
    }
}

.chart-container {
    h3 {
        text-align: center;
    }
}

.projects {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    .project {
        flex: 1;
        color: white;
        background-color: $medium-gray;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        min-width: 200px;

        &:hover {
            cursor: pointer;
        }

        img {
            background-color: white;
            width: 100%;
        }

        p {
            font-weight: bold;
        }

        ul {
            font-weight: lighter;
        }
    }
}

#email-form {
    input, textarea {
        margin-bottom: 5px;
    }
}

.error {
    color: $notify-color;
}

.success {
    color: $success-color;
}

.preloader-wrapper {
    float: right;
    display: none;
}