/* Colors */
$background-color: #2F2F2F;
$notify-color: #EE4A39;
$muted-notify-color: #ff9c8b;
$notify-alt-color: #1062b4;
$project-hover-background: rgba(16, 98, 180, 0.5);
$main-text-color: #D5D5D5;
$dark-alt-color: #395A62;
$medium-gray: #838383;

/* Fade Percentage */
$headerFadePercent: 90%;

/* Breakpoints */
$breakpoints: (
    mobile: 0px,
    tablet: 600px,
    desktop: 992px,
    wide: 1200px
);

/* Fonts */
$title-font: 'Lato';


/* Font Sizes */
$header-font-sizes: (
    mobile: 3rem,
    tablet: 5rem,
    desktop: 7rem,
    wide: 8rem
);

$sub-header-font-sizes: (
    mobile: 2rem,
    tablet: 4rem,
    desktop: 5rem,
    wide: 6rem
);

$h3-font-sizes: (
    mobile: 1.8rem,
    tablet: 3rem,
    desktop: 3rem,
    wide: 3rem
);

/* Picture Widths */
$project-picture-widths: (
    mobile: 100%,
    tablet: 50%,
    desktop: 25%,
    wide: 15%
)
