<h2 class="col-xs-12">Blog</h2>
<div class="col-xs-12 col-md-10 post-content" ng-bind-html="displayPostContent">{{displayPostContent}}</div>
<div class="col-xs-12 col-md-2 past-blogs">
	<h3>Current Post</h3>
	<ul>
		<li>
			<a href="{{getUrl(currPost.title)}}">
				<p ng-cloak>{{formatTitle(currPost.title)}}</p>
			</a>
		</li>
	</ul>
	<h3>Recent Posts</h3>
	<input ng-model="search" type="text" placeholder="Search Posts" class="form-control">
	<input type="checkbox" name="all" ng-model="showAll">
	<ul>
		<li class="animate-repeat" ng-repeat="post in sortedBlog | filter:search | orderBy:'-date' | limitTo:(showAll? 3: Number.MAX_SAFE_INTEGER)">
			<a href="{{getUrl(post.title)}}">
				<p>{{formatTitle(post.title)}}</p>
			</a>
		</li>
	</ul>
</div>
